{namespace test.idk.templates.chart}

/**
 */
{template .model}
    <div>
        <div>
           Dummy chart
        </div>
        <div
            class="{css chart}">
        </div>
    </div>
{/template}