{namespace test.idk.templates.table}

/**
 */
{template .model}
    <table>
        <tr>
            <td>
                Dummy
            </td>
            <td>
                Table
            </td>
        </tr>
    </table>
{/template}